<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5 d-inline-flex align-items-center">Contact</h3>
    {% for contact in site.data.settings.contacts %}
    <div class="row g-5 mb-5">
      <div class="col-md-6">
        <h4>{{ contact.name }}</h4>
        <p>{{ contact.title }}</p>
        <p>{{ contact.institution }} | {{ contact.department }}</p>
        <p>{{ contact.institution_address }}</p>
        <p>Email: {{ contact.email }}</p>
      </div>
      <div class="col-md-6">
        <img src="{{ site.github.url }}/assets/img/Erman.jpg"" alt="Contact" width="80%">
      </div>
    </div>
    {% endfor %}
  </div>
</div>
